* {
	box-sizing: border-box;
}

body {
	background: #ffffff;
	color: #000;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Computer Modern Bright", sans-serif;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1, h2 {
	font-family: "Computer Modern Serif", serif;
	font-weight: normal;
}

input, select, button {
	/*-webkit-appearance: none;*/
	font-family: inherit;
	font-size: inherit;
	padding: 0.25em;
	border: 1px solid #ddd;

}

#viewport {
	display: none;
	position: absolute;
	left: 20%;
}

#intro {
	position: relative;
	width: 30rem;
	max-width: 90%;
	margin: 3rem auto;
	z-index: 1;
}

#abstract {
	/*font-family: "Computer Modern Serif", serif;*/
	font-size: 0.8em;
	/*text-align: justify;*/
}

.run {
	display: none;
}

#sidebar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 20%;
	overflow-y: scroll;
	padding: 1rem;
	border-right: 1px solid #333;
}

#tools {
	position: absolute;
	bottom: 1rem;
	left: 20%;
	margin-left: 1rem
}

#playback {
	position: absolute;
	top: 1rem;
	left: 20%;
	margin-left: 1rem
}

#scenarioName {
	font-family: inherit;
	margin: 0;
	/*font-size: 1.1em;*/
	/*width: 100%;*/
}

input[type=number] {
	width: 5em;
}

#frameDuration, #cursorPosition {
	position: absolute;
	right: 1rem;
	color: #fff;
	text-shadow: 1px -1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000;
	opacity: 0.5;
}

#frameDuration {
	top: 1rem;
}

#cursorPosition {
	bottom: 1rem;
}

label {
	font-size: 0.8em;
}

#gauges {
	font-size: 0.7em;
}

#gauges .graph {
	margin-bottom: 1rem;
	overflow: visible;
}